<div class="card custom-card">
  <a routerLink="/pokemon/{{poke.name}}" class="flex justify-center justify-items-center image-link">
    <img class="rounded-t-lg" src="{{pokemon?.sprites?.other?.dream_world?.front_default}}" height="250" width="250" class="card-image" alt="{{poke.name | titlecase}}" />
  </a>
  <div class="card-body text">
    <a routerLink="/pokemon/{{poke.name}}">
        <h5 class="card-title">{{poke.name | titlecase}}</h5>
    </a>
    <a routerLink="/pokemon/{{poke.name}}"  class="btn button-card">Read more</a>
  </div>
</div>
