.custom-card{
  min-height: 450px;
}
.custom-card .image-link{
  min-height: 320px;
  justify-content: center;
  display: flex;
}
.card-image{
max-height: 350px;
}
.custom-card .text{
min-height: 130px;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
background: #f3f3f3;
}
.custom-card .text a{
color:#333;
text-decoration: none;
}
.custom-card .text a.button-card{
  background-color: #e82135 ;
  color: #FFF;
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.horizontal-card{
  border-bottom:1px solid #f3f3f3;
  padding-bottom: 15px;
  padding-top: 15px;
}
