<div class="container mx-auto px-4 mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <div id="carouselExample" class="carousel slide carousel-dark" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active image-back">
            @if(pokemon?.sprites?.other?.dream_world?.front_default!= null){
                <img src="{{pokemon?.sprites?.other?.dream_world?.front_default}}" class="d-block w-100" height="350" width="350" />
            }
          </div>
          <div class="carousel-item image-back">
            @if(pokemon?.sprites?.back_default!= null){
              <img src="{{pokemon?.sprites?.back_default}}" class="d-block w-100" height="350" width="350" />
            }
          </div>
          <div class="carousel-item image-back">
            @if(pokemon?.sprites?.back_shiny!= null){
              <img src="{{pokemon?.sprites?.back_shiny}}" class="d-block w-100" height="350" width="350" />
            }
          </div>
          <div class="carousel-item image-back">
            @if(pokemon?.sprites?.back_shiny!= null){
              <img src="{{pokemon?.sprites?.front_shiny }}" class="d-block w-100" height="350" width="350" />
            }
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <h1 class="font-bold">{{pokemon?.name | titlecase}}</h1>
      <p class="mt-2"><strong>Height:</strong> {{pokemon?.height}} m</p>
      <p class="mt-2"><strong>Weight:</strong> {{pokemon?.weight}} kg</p>
      <p class="mt-2"><strong>Habitat:</strong> {{specie?.habitat?.name | titlecase}}</p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Abilities</button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul class="max-w-md space-y-1 list-disc list-inside">
                  @for (item of pokemon?.abilities; track $index) {
                      <li class="mb-2 font-semibold text-gray-900 dark:text-white">{{item.ability.name | titlecase}}</li>
                  }
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Specie</button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>Color:</strong> {{specie?.color?.name | titlecase}}</p>
              <p><strong>Shape:</strong> {{specie?.shape?.name | titlecase}}</p>
              <p><strong>Growth rate:</strong> {{specie?.growth_rate?.name | titlecase}}</p>
              <p><strong>Egg groups:</strong></p>
              <ul class="ml-5 max-w-md space-y-1 list-disc list-inside">
                @for (egg of specie?.egg_groups; track $index) {
                  <li>{{egg.name | titlecase}}</li>
                }
              </ul>
            </div>
          </div>
        </div>
        @if (specie?.evolves_from_species?.name!=null) {
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Evolves from species
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p><strong>Name: </strong> <a routerLink="/pokemon/{{specie?.evolves_from_species?.name}}">{{specie?.evolves_from_species.name | titlecase}}</a></p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
