.logo{
  filter:drop-shadow(0px 4px 6px rgba(0,0,0,.5));
}
.header{
  background: #e82135;
}

.space-between{
  justify-content: space-between;
}
.brand{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Lilita One", sans-serif;
  line-height: 1.5rem;
}
