<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold mt-5 mb-5 text-center text-lime-700 title">Welcome to the Pokemon App</h1>
  <div class="row d-flex justify-content-between mb-5 principal-container" #container>
    <div class="col-4">
      <app-limit-selector [limit]="limit" (OnClick)="changeLimit($event)"/>
    </div>
    <div class="col-3">
      <!--<span class="fw-bold">Sort by: </span><br>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select an option</option>
        <option value="1">Name ASC</option>
        <option value="2">Name DESC</option>
        <option value="3">ID ASC</option>
        <option value="4">ID DESC</option>
      </select>-->
    </div>
  </div>
  @defer {
    <div class="row">
      @for (pokemon of pokemons?.results; track $index) {
          <app-card class="col-lg-4 col-md-4 col-12 mb-4" [poke]="pokemon"/>
      }@empty {
        <div class="col-12 d-flex justify-content-center">
          <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      }
    </div>
    @if(pokemons?.results && loading){
      <app-pagination
          [totalItems]="totalResults"
          [currentPage]="currentPage"
          [itemsPerPage]="limit"
          [visiblePages]="10"
          (OnClick)="changePage($event)"
      ></app-pagination>
    }
  } @placeholder (minimum 300ms) {
    <div class="row">
      <app-skeleton
        class="col-12"
        [count]="24"
        [theme]="[
          { width: '20px' },
          { width: '60%' },
          { width: '70%' }
        ]"/>
    </div>
  }
</div>
