.inline-form{
  display: flex;
}
.results{
  z-index: 50;
  width:275px;
  height: 275px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  background-color: #FFF;
  padding: 15px;
}
.loading{
  background-color: #fff;
}
.button-blue{
  background:	#3b4cca;
  font-weight: bold;
  color: #FFF;
}
.content-btn{
  position: sticky;
  top: 0;
  width: 243px;
}
