<form class="d-flex" [formGroup]="searchForm" role="search">
  <input class="form-control me-1" type="search" placeholder="Pokemon name..." aria-label="Search" name="search" id="search" formControlName="search" required  [ngClass]="{'is-invalid': hasErrors('search','required') || hasErrors('search','minlength')}" autocomplete="off">
  <button class="btn button-blue" type="submit">Search</button>
</form>
<div class="list-group position-absolute results" [ngClass]="{'d-block': searchResults!=undefined, 'd-none':searchResults?.length==0}" #searchResultsContainer>
  <div class="d-flex justify-content-end content-btn"><button type="button" class="btn-close" aria-label="Close" (click)="hideBox()"></button></div>
  @for (result of searchResults; track $index) {
    <app-card class="col-lg-4 col-md-4 col-2 mb-4" [poke]="result" [position]="position" (click)="hideBox()"/>
  }@empty {
    <div class="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }
</div>


<!-- Modal -->
<div class="modal fade" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
